[class*='col-'] {
  float: left;
  padding-right: 0px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}
i {
    margin-left: 5px;
    font-size: 24px;
    transition: all .2s ease;
}
h4 {
  position: relative;
  margin: 0;
  transition: all .2s ease;
}
.top-heroes {
    display: flex;
    flex-direction: column;
}
.dashboard-line {
    width: 275px;
    height: 1px;
    background: #eee;
    margin: 0 auto 30px;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 100%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
  box-shadow: 1px 2px 8px rgba(0,0,0,.9);
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 0px;
}
@media (min-width: 600px) {
    .top-heroes {
        flex-direction: row;
        div {
            margin: 8px;
        }
    }
    h3 {
        font-size: 1.75em;
    }
    i {
        font-size: 30px;
    }
    h4 {
        margin: 20px 0;
    }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
