.search-result{
      border-bottom: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      padding: 5px;
      background-color: white;
      cursor: pointer;
      width: 88%;
      margin: 0 auto;
}

.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}

#search-component {
    text-align: center;
}
#search-box{
      width: 90%;
      height: 30px;
      border: 1px solid #888;
      border-radius: 3px;
      max-width: 400px;
}
